* {
  background-image: linear-gradient(45deg, gray, aquamarine);
}
body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("walkin.jpg");
}
audio {
  width: 100%;
 
}
img {
  width: 100%;
  border-radius: 5px;
}