body {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("walkin.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
}
audio {
  width: 100%;
 
}
